.page__heading .language-switcher__flag {
    width: 36px;
}


/* Сайдбар */
.sidebar-menu_between {display: flex;justify-content: space-between;}
.sidebar-quanitity {font-size: 16px;}

.exporters-link.active span {
    color: #000;
    font-weight: 700;
}

/* Стр. экспортера */
.exp-textarea {max-width: 60%;min-height: 120px;}
.exporter-item {margin: 5px 0;}

.exporter-item__title {font-size: 14px;}
.exporter-item__value {font-size: 18px;}

/* Пагинация */
.page-item.active {
    pointer-events: none;
}