@using Microsoft.AspNetCore.Builder;
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOps

@{
    var currentCulture = CultureInfo.CurrentCulture;
    var supportedCultures = LocOps.Value.SupportedUICultures;
}

<span id="current-language">@Context.Request.RouteValues["culture"]</span> @* This element is hidden and needed to take value from js *@

<div class="language-switcher">
    <form>
        <div class="language-switcher__current-item language-switcher__item">
            <img class="language-switcher__flag" src="/img/flags/@(currentCulture).svg" alt="Flag" />
            <span class="language-switcher__name">@currentCulture</span>
            <svg class="language-switcher__arrow" viewBox="0 0 16 9">
                <use xlink:href="/img/sprite.svg#language-arrow"></use>
            </svg>
        </div>
        <div class="language-switcher__select">
            @foreach (var culture in supportedCultures.Where(culture => culture.Name != currentCulture.Name))
            {
                <div class="language-switcher__item language-switcher__possible-item">
                    <input class="language-switcher__input" type="radio" value="@culture.Name" />
                    <img class="language-switcher__flag" src="/img/flags/@(culture).svg" alt="Flag" />
                    <span class="language-switcher__name">@culture.Name</span>
                </div>
            }
        </div>
    </form>
</div>