@using Microsoft.AspNetCore.Builder;
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOps

@{
    var currentCulture = CultureInfo.CurrentCulture;
    var supportedCultures = LocOps.Value.SupportedUICultures;
}

<div>
    <form id="culture-switcher">
        <select name="culture" id="culture-options">
            @foreach (var culture in supportedCultures)
            {
                <option value="@culture.Name" selected="@(currentCulture.Name == culture.Name)">@culture.NativeName</option>
            }
        </select>
    </form>
</div>


<script>
    var currentCulture = "@Context.Request.RouteValues["culture"]";
    var segments = location.pathname.split('/');
    var el = document.getElementById("culture-options");
    el.addEventListener("change", () => {
        var selectedCulture = el.value;
        if (currentCulture.length === 0) {
            location.pathname = "/" + selectedCulture + location.pathname;
        } else {
            location.pathname = location.pathname.replace(currentCulture, selectedCulture)
        }
    });
</script>