@inject CommonLocalizationService Localizer

<span id="company-name" class="header-company__name">
    <partial name="_UserNamePartial" />
</span>
<ul class="company-pop-up">
    <li class="company-pop-up__item">
        <svg class="company-pop-up__account-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.25 20.25C5.25 16.5217 8.27175 13.5 12 13.5C15.7283 13.5 18.75 16.5217 18.75 20.25M12 4.5C10.8065 4.5 9.66193 4.97411 8.81802 5.81802C7.97411 6.66193 7.5 7.80653 7.5 9C7.5 10.1935 7.97411 11.3381 8.81802 12.182C9.66193 13.0259 10.8065 13.5 12 13.5C13.1935 13.5 14.3381 13.0259 15.182 12.182C16.0259 11.3381 16.5 10.1935 16.5 9C16.5 7.80653 16.0259 6.66193 15.182 5.81802C14.3381 4.97411 13.1935 4.5 12 4.5Z" stroke="#76767A" stroke-width="2" stroke-miterlimit="10" />
            <path d="M8.32568 14.5918L11.9999 17.9998L15.6742 14.5918" stroke="#76767A" stroke-width="2" stroke-miterlimit="10" />
        </svg>
        <a class="company-pop-up__personal-area" asp-area="Identity" asp-page="/Account/Manage/Index">@Localizer["Account"]</a>
    </li>
    <li class="company-pop-up__item">
        <svg class="company-pop-up__logout-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5 9V3H4.5V21H19.5V15L18 16.5V19.5H6V4.5H18V7.5L19.5 9Z" fill="#76767A" />
            <path d="M16.2748 15.2249L19.4998 11.9999L16.2748 8.7749M19.4998 11.9999H10.4248H19.4998Z" stroke="#76767A" stroke-width="2" stroke-miterlimit="10" />
        </svg>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button class="company-pop-up__logout-btn" type="submit">@Localizer["Logout"]</button>
        </form>
    </li>
</ul>