<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Made In Rd</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic" rel="stylesheet" type="text/css" /> 
	<!--[if mso]>
		<style type="text/css">
			body, table {font-family: sans-serif !important;}
		</style>
	<![endif]-->
	<style type="text/css">
		* {padding: 0;margin: 0}
		body, table {color: #010B23;font-family: 'Roboto', Arial, Helvetica, sans-serif;font-size: 16px;line-height: 1.5}
		h1 {font-size: 21px;line-height: 1.2;font-weight: 700;color: #363636;}
		p {font-weight: 400}

		@@media only screen and (max-width:415px) {
			.pystoi-otstyp {display: none !important;}
			.logotype {width: 200px !important;}
			.header-wrp table {text-align: center !important;}
			h1 {font-size: 21px !important;}
		}
	</style>
</head>
<body style="background-color:#f7f7f7;">

	@RenderBody()

</body>
</html>