<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div style="width: 1200px">
    <div style="height: 200px; background-color: #9fcdff">
        < Header >
    </div>
    <div>
        < Content >
        @RenderBody()
    </div>
    <div style="height: 200px; background-color: #9fcdff">
        < Footer >
    </div>
</div>
</body>
</html>