@model ExporterWeb.Models.ViewModels.ContactInfoModel

@{
    Layout = "Emails/_EmailLayout";
}

<table width="600" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto">
	<td>
		<div style="margin: 0 auto">

			<table class="pystoi-otstyp" width="600" cellspacing="0" cellpadding="0" border="0" style="height:30px;background-color:#f7f7f7;"></table>

			<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; padding:40px 30px; background-image:linear-gradient(#010B23, #010B23); text-align: center">
				<tbody>
					<tr>
						<td class="header-wrp" style="padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; text-align:center; background-color:#010B23; background-image:linear-gradient(#010B23, #010B23)">
							<div class="header-column header-left" style="width:100%; text-align: center; display:inline-block; vertical-align:baseline;">
								<table align="center" width="100%" cellpadding="0" cellspacing="0" style="border-spacing:0;">
									<tr align="center" style="text-align: center; margin: 0 auto">
										<td>
											<img class="logotype" alt="Made In Rd" src="http://kmra.site/mid-logo.png" style="width: 240px; text-align:center; display: block; margin:0 auto 15px;">
										</td>
									</tr>
									<tr>
										<td>
											<p class="header-right__text" style="font-size: 14px; color: #9e9e9e !important; margin-top: 15px;margin-bottom: 0; padding: 0">Портал внешнеэкономической деятельности Республики Дагестан</p>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<table width="600" cellspacing="0" cellpadding="0" border="0" width="600" style="margin:0 auto;background-color:#fff;">
				<tr bgcolor="#fff" height="120px">
					<td style="">
						<table width="100%" style="text-align:center;padding: 45px 30px 50px;">
							<tr>
								<td>
									<h1 style="font-size:21px; line-height: 1.2; margin:0 0 40px;">Ваша учетная запись удалена</h1>
								</td>
							</tr>
							<tr style="font-size:16px; color:#010B23">
								<td>
									<p style="margin-bottom:25px;">Здравствуйте, @Model.LastName @Model.FirstName!</p>
								</td>
							</tr>
							<tr>
								<td>
									<p style="margin: 0">
										К сожалению нам пришлось удалить вашу учётную запись, так как вы ввели недостоверную информацию, и не исправили её, либо ваша компания не соответствует требованиям нашего портала.
									</p>
									<p style="margin: 0">
										Вы можете пройти регистрацию заново, с указанием достоверной информации.
									</p>
								</td>
							</tr>
						</table>
						<table width="100%" style="text-align:center; background-color:#ECECEC; padding:40px 30px">
							<tr>
								<td>
									<p style="margin-bottom:15px;">Мы в соц. сетях</p>
								</td>
							</tr>
							<tr>
								<td>
									<a href="#" style="text-decoration: none; margin-right: 25px">
										<img alt="" width="26" height="26" src="http://kmra.site/facebook.png" />
									</a>
									<a href="#" style="text-decoration: none; margin-right: 25px">
										<img alt="" width="26" height="26" src="http://kmra.site/instagram.png" />
									</a>
									<a href="#" style="text-decoration: none;">
										<img alt="" width="26" height="26" src="http://kmra.site/youtube.png" />
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<p style="margin:30px 0;">www.madeinrd.ru</p>
								</td>
							</tr>
							<tr>
								<td>
									<p style="color:#9E9E9E">Письмо отправлено автоматически.Если вы считаете, что получили его по ошибке, просто проигнорируйте</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			
		</div>
	</td>
</table>