@{
    Layout = "Emails/_EmailLayout";
}

<h1>Регистрация завершена</h1>


Спасибо за регистрацию!<br>

Теперь вы можете войти в личный кабинет, и заполнить информацию о вашей компании.<br>

В течении одного рабочего дня ваша учетная запись будет одобрена администрацией, и ваша компания будет отображаться на сайте.<br>