@page
@model ExporterWeb.Pages.Events.EditModel
@using Helpers 

@{
    ViewData["Title"] = "Edit";
}

<style>
    #edit-img {
        max-width: 200px;
        max-height: 200px;
    }
</style>

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Event.UserNameOwner" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.Id" />
            <div class="form-group">
                <label asp-for="Event.Name" class="control-label"></label>
                <input asp-for="Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Language" class="control-label"></label>
                <input asp-for="Event.Language" class="form-control" />
                <span asp-validation-for="Event.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.StartsAt" class="control-label"></label>
                <input asp-for="Event.StartsAt" class="form-control" />
                <span asp-validation-for="Event.StartsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EndsAt" class="control-label"></label>
                <input asp-for="Event.EndsAt" class="form-control" />
                <span asp-validation-for="Event.EndsAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Upload file</label>
                <input class="form-control-file" type="file" name="logo" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <img id="edit-img" src="@Model.Event.LogoPath()" />
        </div>
        <form method="post" id="delete-image-form">
            <div class="form-group">
                <button type="submit" asp-page-handler="DeleteImage">Удалить текущее изображение</button>
            </div>
        </form>
        <script>
            document.getElementById("delete-image-form").addEventListener("submit", async function (e) {
                e.preventDefault();
                if (!confirm('Удалить изображение?'))
                    return;
                const handlerParam = 'handler=deleteimage';
                const url = location.search ? `${location.search}&${handlerParam}` : `?${handlerParam}`;
                const result = await fetch(url, {
                    method: 'post',
                    body: new FormData(this),
                });
                if (result.ok)
                    document.getElementById("edit-img").src = "/img/news-icon.png";
                else
                    alert('Неизвестная ошибка' + result.statusText);
            });
        </script>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
