body {
    height: 100%;
    font-size: 16px;
    font-family: "Golos text";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.main-page-link {
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    color: #fff;
}
.main-page-link span {
    color: #075bb8;
}

.header, footer {
    background: #010B23;
}
.header *, footer * {
    color: #fff;
}

.header {
    z-index: 4;
    position: relative;
}


/* Search for sreen resolution above 1023px */
.large-search {
    position: absolute;
    left: 0;
    top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    transition: all 0.3s ease 0s;
}
.large-search.active {
    top: 0;
}
.large-search__input {
    width: 600px;
    height: 40px;
    margin-right: 30px;
    padding: 0 10px;
    outline: none;
    color: #010B23;
    font-family: 'Golos text';
    font-size: 15px;
    line-height: 16px;
}
.large-search__btn {
    width: 120px;
    height: 40px;
    background: #010B23;
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    cursor: pointer;
}
.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    transition: all 0.3s ease 0s;
}
.large-search.active ~ .upper-header {
    padding-top: 125px;
}
.upper-header__burger {
    display: none;
}


/* Upper-header styles for screen resolution above 1023px */
.upper-header-large-body {
    display: flex;
    align-items: center;
}
.upper-header-search {
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
}
.upper-header-large-body__feedback-icon {
    margin-right: 20px;
}
.header-account {
    display: flex;
    justify-content: center;;
    position: relative;
    margin-right: 30px;
}
.header-account__name {
    color: #1D87FE;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}
.header-account__login-link {
    display: block;
    margin-right: -20px;
    padding: 12px;
    border: 1px solid #fff;
    font-weight: 500;
}
.account-pop-up {
    position: absolute;
    top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 110px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(9, 63, 179, 0.08), 0px 8px 20px rgba(2, 11, 34, 0.1);
    border-radius: 5px;
    z-index: 2;
}
.account-pop-up.active {
    display: flex;
}
.account-pop-up__item {
    display: flex;
    width: 80%;
    align-items: center;
    height: 50px;
}
.account-pop-up__item:first-child {
    border-bottom: 1px solid #E5E5EB;
}
.account-pop-up__personal-area,
.account-pop-up__logout-btn {
    margin-left: 10px;
    color: #333;
    font-family: 'Golos text';
    font-size: 14px;
}
.account-pop-up__logout-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}


/* Menu styles for screen resolution above 1024px */
.large-menu {
    padding: 20px 0;
    border-top: 2px solid rgba(240, 240, 240, 0.1);
}
.large-menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.large-menu__item {
    position: relative;
}
.large-menu__item.selected:after {
    content: '';
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1D87FE;
}
.large-menu__link {
    text-transform: uppercase;
    font-size: 13px;
}
.large-menu__link:hover {
    color: #1D87FE;
}


/* Styles for screen resolution below 1024px */
.small-body, .overlay {
    display: none;
}


/* Separated block that is used in large header and small menu */
.culture-switcher {
    width: 80px;
    position: relative;
}
.culture-switcher__select {
    width: 100%;
    padding: 12px 12px 12px 20px;
    border: 1px solid #FFFFFF;
    background-color: #010B23;
    outline: none;
    font-family: "Golos text";
    line-height: 16px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.culture-switcher__img {
    position: absolute;
    top: 17px;
    right: 15px;
    pointer-events: none;
}


/* Footer */
.footer {
    padding: 50px 0;
}
.upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 60px;
}
.sponsor-item {
    display: flex;
    align-items: center;
    flex: 0 0 180px;
    height: 100%;
    margin: 0 10px;
}
.sponsor-item__img {
    max-width: 100%;
}
.lower-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    height: 145px;
}
.footer-menu__item {
    margin-bottom: 20px;
}
.footer-menu__link {
    font-size: 14px;
    text-transform: uppercase;
}
.footer-logo__info {
    margin-top: 12px;
    width: 260px;
}
.footer-logo__info,
.footer-logo__republic {
    line-height: 16px;
    color: #9E9E9E;

}


@media (max-width: 1024px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .upper-header {
        padding: 15px 0;
    }
    .upper-header__burger {
        display: block;
        width: 25px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }
    .upper-header__burger:before,
    .upper-header__burger:after {
        content: '';
        background: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .upper-header__burger:before {
        top: 0;
    }
    .upper-header__burger:after {
        bottom: 0;
    }
    .upper-header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .upper-header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .upper-header__burger span {
        position: absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transition: all 0.3s ease 0s;
    }
    .upper-header__burger.active span {
        transform: scale(0);
    }
    .large-search,
    .upper-header-large-body,
    .large-menu {
        display: none;
    }
    .overlay.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 62px;
        width: 100%;
        height: 100%;
        background: rgba(1, 11, 35, 0.2);
        z-index: 2;
    }
    .small-body {
        display: block;
        width: 320px;
        height: 100%;
        padding: 0 15px;
        position: fixed;
        top: 0;
        padding-top: 62px;
        right: -100%;
        background: #fff;
        z-index: 3;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .small-body.active {
        right: 0;
    }
    .mobile-search {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 15px 0 25px;
    }
    .mobile-search__input {
        width: 290px;
        height: 45px;
        padding: 0 50px 0 20px;
        border: 1px solid #B4B4B4;
        border-radius: 3px;
        outline: none;
        color: #010B23;
        font-size: 14px;
        font-family: 'Golos text';
    }
    .mobile-search__btn {
        position: absolute;
        width: 45px;
        height: 45px;
        right: 10px;
        background: none;
        border: none;
    }
    .small-body-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    .small-body-account {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 20px;
    }
    .small-body-account__link {
        color: #1D87FE;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
    }
    .small-body-row__feedback-link {
        margin-right: 20px;
    }
    .culture-switcher__select {
        border: 1px solid #010B23;
        background: none;
    }
    .culture-switcher__img path {
        stroke: #010B23;
    }
    .small-body-row__login-link {
        margin-left: 15px;
        padding: 12px;
        border: 1px solid #010B23;
        color: #010B23;
    }
    .small-menu {
        margin-top: 24px;
    }
    .small-menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .small-menu__item {
        margin-bottom: 20px;
    }
    .small-menu__link,
    .small-menu__logout-btn {
        color: #010B23;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
    }
    .small-menu__logout-btn {
        font-family: 'Golos text';
        border: none;
        background: none;
        padding: 0;
    }
    .footer {
        padding: 30px 0;    
    }
    .content {
        margin-top: 57px;
    }
}

@media (max-width: 768px) {
    .upper-footer {
        justify-content: space-around;
    }
    .lower-footer {
        padding: 0 10px;
    }
    .footer-menu {
        width: auto;
        height: auto;
    }
}

@media (max-width: 576px) {
    .sponsor-item {
        flex: 0 0 120px;
    }
    .lower-footer {
        flex-direction: column;
    }
    .footer-logo {
        margin-top: 30px;
    }
}



.index-image-block, .about-portal-image-block {
    height: 558px;
}


/* /Index.cshtml */
.index-image-block {
    background: linear-gradient(0deg, #010B23, #010B23);
    font-size: 3rem;
    font-weight: bold;
}
.index-image-block > .grid {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.index-image-block > .grid > * {
    position: relative;
    z-index: 1;
}
.index-image-block > .grid::after {
    content: "";
    background-image: url(/img/dagestan-emblem.svg);
    background-repeat: no-repeat;
    background-position: right top;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.index-image-text {
    color: white;
    width: 800px;
    font-size: 4rem;
}

.title-of-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-content-block {
    padding: 80px 0;
}
.index-content-block:nth-child(even) {
    background: #F2F8FF;
}
.index-content-block .title {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}
.index-content-block .link {
    font-size: 1.5rem;
    text-decoration-line: underline;
    color: #1D87FE;
}
.index-content-block .many-items {
    display: grid;
    grid-template-columns: repeat(4, 240px);
/*    grid-auto-rows: 200px;*/
    justify-content: space-between;
    margin-top: 30px;
}
.index-content-block .many-items > .item {
    transition: .1s;
    display: grid;
    grid-template-rows: auto 50px 30px;
    margin-bottom: 20px;
}
.index-content-block .many-items > .item:hover {
    box-shadow: 0px 0 9px 5px #2d2222;
}
.index-content-block .many-items > .item.news > :first-child {
    height: 200px;
}
.index-content-block .many-items > .item.news .item-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    display: block;
/*    margin: 30px 0;*/
}
.index-content-block .many-items > .item.branch {
    display: grid;
    grid-template-rows: 60% 1fr;
    justify-content: center;
    align-items: center;
}
.index-content-block .many-items > .item.branch .item-title {
    font-size: 1.4rem;
    font-weight: 600;
/*    color: white;*/  /*turn it on after making images*/
    grid-row: 2;
    grid-column: 1;
    padding: 0 10px;
    z-index: 1;
}
.index-content-block .many-items > .item > .item-date {
    color: #ADADAD;
}
.item .item-logo {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.item.branch .item-logo {
    grid-row: 1 / 3;
    grid-column: 1;
    opacity: 0.5;
}

/* /About.cshtml */
.about-portal-image-block {
    background-image: url(/img/DXL6km_zypU.jpg);
    background-position: center;
}
.about-portal-image-block > * {
    width: 100%;
    height: 100%;
    background: rgba(1, 11, 35, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-portal-image-text {
    color: white;
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
}
.about-text-content {
    font-size: 1.4rem;
    line-height: 200%;
}
.about-text-content > :first-child {
    box-shadow: 5px 0px 0px black inset;
    font-weight: bold;
    margin-top: 90px;
}
.about-text-block {
    margin: 60px 0;
    padding-left: 42px;
}
.about-text-block > p {
    font-weight: bold;
}
.about-text-block > ul {
    list-style-type: square;
    padding-left: 40px;
}
.about-text-block > ul > li {
    margin-top: 1.5em;
}