@page
@model ExporterWeb.Pages._TestModel
@{
    ViewData["Title"] = "_Test";
}

<h1>This is a test page. Here is the list of @Model.Dummies.Count() dummy objects</h1>

@foreach (var dummy in Model.Dummies!)
{
    <p>Dummy: Id=@dummy.Id, X=@dummy.X</p>
}

If you see this, the database connection is working properly
