@page
@inject CommonLocalizationService Localizer
@{ ViewData["Title"] = @Localizer["About portal"]; }

<div class="about-portal-image-block">
	<div>
		<h1 class="about-portal-image-text">@Localizer["About portal"]</h1>
	</div>
</div>

<div class="grid about-text-content">
	<p class="about-text-block">
		Портал внешнеэкономической деятельности MADE IN RD – созданное Правительством РЕСПУБЛИКИ ДАГЕСТАНй области современное цифровое «одно окно» для экспорто ориентированных предприятий и, одновременно, «витрина» компетенций региона как инструмент развития экспорта.
	</p>

	<div class="about-text-block">
		<p>
			Организации республики дагестан – действующие субъекты и планирующие участие во внешнеэкономической деятельности – найдут на Портале:
		</p>
		<ul>
			<li>календарь мероприятий в сфере международного сотрудничества, в том числе с участием Правительства Свердловской области и делового сообщества;</li>
			<li>информацию об инфраструктуре, реализуемых программах, проектах и мерах поддержки экспортной деятельности регионального и федерального уровней;</li>
			<li>актуальные новости в сфере внешней торговли и ее регулирования;</li>
			<li>статистические и аналитические данные, в том числе по зарубежным рынкам.</li>
		</ul>
	</div>

	<div class="about-text-block">
		<p>
			Для иностранных партнеров республики дагестан на Портале представят интерес:
		</p>
		<ul>
			<li>реестр экспорто ориентированных предприятий Свердловской области с удобным поиском по отраслям и актуальными контактными данными;</li>
			<li>актуальные сведения о регионе, включая основные преимущества партнерства со Свердловской областью и предприятиями, размещенными на ее территории.</li>
			<li>информация о товарах и услугах региона, конкурентоспособных на мировых рынках;</li>
		</ul>
	</div>

	<div>
		Целевой аудиторией Портала являются: деловое и научное сообщество Свердловской области, иностранные партнеры региона (действующие и потенциальные), институты развития и субъекты инфраструктуры поддержки ВЭД, федеральные органы исполнительной власти, АО «Российский экспортный центр», торговые представительства Российской Федерации за рубежом, а также все, кому интересна тематика внешнеэкономических связей.
	</div>
</div>

