@page
@model ExporterWeb.Pages.AnalyticsModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Analytics";
    string originApi = Configuration.GetSection("AnalyticsAppOrigin").Value;
}

<h1>Analytics</h1>

<input id="origin-api" type="hidden" value="@originApi" />
<iframe src="~/analytics-app/index.html" style="width: 100%; height: 800px;"></iframe>
