@page
@model ExporterWeb.Pages.TempLoginModel
@{
}
 <nav class="navigation-chain">
        <ul class="navigation-chain__list">
            <li class="navigation-chain__item">
                <a href="" class="navigation-chain__link">@CommonLocalizer["Home"]</a>
            </li>
            <li class="navigation-chain__item">
                <span class="navigation-chain__point"></span>
            </li>
            <li class="navigation-chain__item">
                <a href="" class="navigation-chain__link">@CommonLocalizer["Exporters"]</a>
            </li>
        </ul>
    </nav>
<main class="primary-content" role="main">
    <div class="container">
        <div class="account-card">
            <div class="account-header">
                <div class="account-header__top">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <h1 class="page__title page__title-margin">Войти в личный кабинет</h1>
                        <a href="#" class="link link_border account-header__text">Регистрация</a>
                    </div>
                </div>
                <form method="post" class="for-validate account-form select">
                    <div class="form-group">
                        <label>Эл. почта</label>
                        <input type="email" class="form-control email-mask required-input" placeholder="Введите адрес электронной почты" required> 
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" id="password-input" class="form-control password-input" placeholder="Введите ваш пароль">
                        <small class="password-control" onclick="show_hide_password(event, 'password-input')">
                            <svg class="view"><use xlink:href="/img/sprite.svg#password-view"></use></svg>
                            <svg class="hidden"><use xlink:href="/img/sprite.svg#password-hidden"></use></svg>
                        </small>
                    </div>
                    <div class="form-group d-flex align-items-sm-center flex-sm-row flex-column align-items-start mb-0">
                        <button class="btn btn-big btn-primary go__register go__login" type="submit">Войти</button>
                        <a href="#" class="link link_border account-bottom__text">Регистрация</a>
                        <a class="link link_border" href="#">Забыл пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

