@page

<main class="primary-content" role="main">

    <div class="container">

        <div class="account-card">
            <div class="account-header">
                <h1 class="account-card__title">Восстановление пароля</h1>
            </div>

            <div class="account-body">
                <p class="mb-5">Придумайте новый пароль для вашего аккаунта</p>
                
                <form method="post" class="for-validate account-form">
                    <div class="form-group d-none">
                        <label>E-mail</label>
                        <input type="text" class="form-control email-mask required-input" placeholder="Введите адрес электронной почты" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" id="password-input" class="form-control password-input" placeholder="Придумайте пароль">
                        <span class="text-danger"></span>
                        <small class="password-control" onclick="show_hide_password(event, 'password-input')">
                            <svg class="view"><use xlink:href="/img/sprite.svg#password-view"></use></svg>
                            <svg class="hidden"><use xlink:href="/img/sprite.svg#password-hidden"></use></svg>
                        </small>
                    </div>
                    <div class="form-group">
                        <label>Повторите пароль</label>
                        <input type="password" id="password-repeat-input" class="form-control password-input" placeholder="Повторите пароль снова">
                        <span class="text-danger"></span>
                        <small class="password-control" onclick="show_hide_password(event, 'password-repeat-input')">
                            <svg class="view"><use xlink:href="/img/sprite.svg#password-view"></use></svg>
                            <svg class="hidden"><use xlink:href="/img/sprite.svg#password-hidden"></use></svg>
                        </small>
                    </div>
                    <div class="form-group d-flex align-items-sm-baseline flex-sm-row flex-column align-items-start mb-0">
                        <button class="btn btn-big btn-primary go__register mr-0 mr-sm-4" type="submit">Сохранить</button>
                        <a class="link link_border mt-4" href="#">Вернуться на главную</a>
                    </div>
                </form>
            </div>

        </div>
        
    </div>
    
</main>