@page
@model ExporterWeb.Pages.TermsOfUse

<div class="container">
    <div class="termsofuse">
        <h1 class="page__title">Пользовательское соглашение</h1>
        <div class="termsofuse__wrapper">
            <p>(согласие на обработку персональных данных), оформляемое при прохождении регистрации на портале внешнеэкономической деятельности Республики Дагестан  «MadeInRD»</p>
            <p>1. Общие положения</p>
		    <p>1.1. В рамках настоящего согласия под персональными данными (ПДн) пользователя понимаются:</p>
			<p>-&nbsp; &nbsp; &nbsp;персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи) или в процессе использования Личного кабинета экспортера на портале внешнеэкономической деятельности деятельности Республики Дагестан «MadeInRD»</p>
		    <p>-&nbsp; &nbsp; &nbsp;(далее – Сервисов), включая персональные данные пользователя в разделе Профиль. Обязательная для предоставления Сервиса информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.</p>    
			<p>-&nbsp; &nbsp; &nbsp;данные, которые автоматически передаются Сервисом в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервису), технические характеристики оборудования и программного обеспечения, используемых пользователем, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.</p>
			<p>-&nbsp; &nbsp; &nbsp;иная информация о пользователе, обработка которой предусмотрена Соглашением об использовании Сервиса.</p>
			<p>1.2. Настоящее Пользовательское соглашение применяется только к Сервису доступному по веб-адресу https://MadeInRD</p>
			<p>1.3. Сервис не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным в данном Сервисе.</p>
			<p>2. Цели обработки персональной информации пользователей</p>
			<p>2.1. Сервис собирает и хранит только ту персональную информацию, которая необходима для предоставления сервисов или исполнения соглашений и договоров с пользователем, за исключением случаев, когда законодательством Российской Федерации предусмотрено обязательное хранение персональной информации в течение определенного законом срока.</p>
			<p>2.2. Персональная информация пользователя обрабатывается в следующих целях:</p>
			<p>-&nbsp; &nbsp; &nbsp;идентификации пользователя, зарегистрированного в Сервисе, для сбора необходимой статистической информации и предоставления ему соответствующих сервисов и услуг;</p>
			<p>-&nbsp; &nbsp; &nbsp;предоставления пользователю доступа к персонализированным ресурсам Сервиса;</p>
			<p>-&nbsp; &nbsp; &nbsp;установления с пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сервиса, оказания услуг, обработку запросов и заявок от пользователя;</p>
			<p>-&nbsp;определения места нахождения пользователя для обеспечения безопасности, предотвращения мошенничества;</p>
			<p>- подтверждения достоверности и полноты ПДн, предоставленных Пользователем;</p>
			<p>-&nbsp; &nbsp; &nbsp;создания учетной записи пользователя для доступа к закрытым услугам Сервиса, если пользователь дал согласие на создание учетной записи;</p>
			<p>-&nbsp; &nbsp; &nbsp;предоставления пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сервиса.</p>
			<p>3. Условия обработки персональной информации пользователя и ее передачи третьим лицам</p>
			<p>3.1. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных сервисов пользователь соглашается с тем, что определенная часть его персональной информации становится общедоступной.</p>
			<p>3.2. Сервис вправе передать ПДн пользователя третьим лицам в следующих случаях:</p>
			<p>-&nbsp; &nbsp; &nbsp;пользователь выразил согласие на такие действия;</p>
			<p>-&nbsp; &nbsp; &nbsp;передача необходима для использования пользователем определенного сервиса, либо для исполнения определенного соглашения или договора с пользователем;</p>
			<p>-&nbsp; &nbsp; &nbsp;передача ПДн предусмотрена законодательством Российской Федерации в рамках установленной процедуры.</p>
			<p>3.3. Обработка персональных данных пользователя осуществляется без ограничения срока любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств. Обработка персональных данных пользователей осуществляется в соответствии с Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных».</p>
			<p>3.4. Администратор Сервиса принимает необходимые организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.</p>
			<p>3.5. Администратор Сервиса совместно с пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных пользователя.</p>
			<p>4. Обязательства сторон</p>
			<p>4.1. Пользователь обязан:</p>
			<p>-&nbsp; &nbsp; &nbsp;предоставить информацию о персональных данных, необходимую для пользования Сервисом;</p>
			<p>-&nbsp; &nbsp; &nbsp;обновлять, дополнять предоставленную информацию о персональных данных в случае изменения данной информации.</p>
			<p>4.2. Администратор Сервиса обязан:</p>
			<p>-&nbsp; &nbsp; &nbsp;использовать полученную информацию исключительно для целей, указанных в настоящем Пользовательском соглашении;</p>
			<p>-&nbsp; &nbsp; &nbsp;обеспечить хранение ПДн в тайне, не разглашать без предварительного письменного разрешения пользователя, а также не осуществлять продажу, обмен, опубликование либо разглашение иными возможными способами переданных персональных данных пользователя, за исключением случаев, предусмотренных настоящим Пользовательским соглашением;</p>
			<p>-&nbsp; &nbsp; &nbsp;принимать меры предосторожности для защиты конфиденциальности персональных данных пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте;</p>
			<p>-&nbsp; &nbsp; &nbsp;осуществить блокирование ПДн, относящихся к соответствующему пользователю, с момента обращения или запроса пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.</p>
			<p>5. Ответственность сторон</p>
			<p>5.1. Администратор Сервиса, не исполнивший свои обязательства, несет ответственность за убытки, понесенные пользователем в связи с неправомерным использованием ПДн, в соответствии с законодательством Российской Федерации.</p>
			<p>5.2. В случае утраты или разглашения ПДн Администратор Сервиса не несет ответственности, если данная конфиденциальная информация:</p>
			<p>-&nbsp; &nbsp; &nbsp;стала публичным достоянием до ее утраты или разглашения;</p>
			<p>-&nbsp; &nbsp; &nbsp;была получена от третьей стороны до момента ее получения Администратором Сервиса;</p>
			<p>-&nbsp; &nbsp; &nbsp;была разглашена с согласия пользователя.</p>
        </div>
    </div>
</div>
