@page
@model ExporterWeb.Pages.TermsOfUse

<div class="container">
    <div class="termsofuse">
        <h1 class="termsofuse__title">Пользовательское соглашение</h1>
        <div class="termsofuse__subtitle">
            <p>Cогласие на обработку персональных данных, оформляемое при прохождении регистрации на портале внешнеэкономической деятельности Свердловской области «Made-in-Ural»</p>
            <p>1. Общие положения</p>
            <p>1.1. В рамках настоящего согласия под персональными данными (ПДн) пользователя понимаются:</p>
            <p>-&nbsp; &nbsp; &nbsp; персональная информация, которую пользователь предоставляет о себе самостоятельно при регистрации (создании учетной записи) или в процессе использования Личного кабинета экспортера на портале внешнеэкономической деятельности Свердловской области «Made-in-Ural» (далее – Сервисов), включая персональные данные пользователя в разделе Профиль. Обязательная для предоставления Сервиса информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение. </p>
            <p>-&nbsp; &nbsp; &nbsp; данные, которые автоматически передаются Сервисом в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервису), технические характеристики оборудования и программного обеспечения, используемых пользователем, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.</p>
            <p>-&nbsp; &nbsp; &nbsp; иная информация о пользователе, обработка которой предусмотрена Соглашением об использовании Сервиса.</p>
            <p>1.2. Настоящее Пользовательское соглашение применяется только к Сервису доступному по веб-адресу https://made-in-ural.ru</p>
        </div>
    </div>
</div>
