@page
@using ExporterWeb.Helpers
@using Microsoft.EntityFrameworkCore
@model ExporterWeb.Pages.Admin.Industries.CreateTranslation

@{
    Layout = "_AdminLayout";
}

<div class="container-fluid page__container">

    <div class="page__heading d-flex align-items-center">
        <div class="flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Отрасли</li>
                </ol>
            </nav>
            <h1 class="m-0">Добавление перевода</h1>
        </div>
    </div>

    <div class="card-header card-header-large bg-white">
        <h2 class="card-header__title">Добавить перевод</h2>
    </div>

    <div class="card card-form">
        <div class="row no-gutters">
            <div class="col-lg-12 card-form__body card-body">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Translation.Name" class="control-label">Название</label>
                        <input asp-for="Translation.Name" class="form-control"/>
                        <span asp-validation-for="Translation.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Translation.Description" class="control-label">Описание</label>
                        <textarea asp-for="Translation.Description" id="industry-description"></textarea>
                        <span asp-validation-for="Translation.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Translation.Language" class="control-label">Язык</label>
                        <select asp-for="Translation.Language" class="form-control" asp-items="new SelectList(Model.AvailableLanguages)"></select>
                    </div>
                    <div class="form-group">
                        <label>Загрузить изображение</label>
                        <input class="form-control-file" type="file" name="image"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'industry-description', {
            filebrowserUploadUrl: '/api/upload/upload-industry-image'
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}