@page
@using ExporterWeb.Helpers
@model ExporterWeb.Pages.Admin.Industries.IndexModel

@foreach (var industry in Model.Industry)
{
    @if (industry.LogoPath() != "")
    {
        <div><img src="@industry.LogoPath()"></div>
    }
    <div>Название: @industry.Name</div>
    <div>Описание:</div>
    <div>@Html.Raw(industry.Description)</div>
    <hr>
}
