@page
@model ExporterWeb.Pages.Admin.AboutRegion.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h4>AboutRegionModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AboutRegionModel.Lang" class="control-label"></label>
                    <select asp-for="AboutRegionModel.Lang">
                        @foreach(var lang in ExporterWeb.Helpers.Languages.WhiteList)
                        {
                            <option value="@lang">@lang</option>
                        }
                    </select>
                    <span asp-validation-for="AboutRegionModel.Lang" id="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AboutRegionModel.Content" class="control-label"></label>
                    <textarea asp-for="AboutRegionModel.Content" id="about-content"></textarea>
                    <span asp-validation-for="AboutRegionModel.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>



@section Scripts {
    <script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'about-content', {
            filebrowserUploadUrl: '/api/upload/uploadFile'
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
