@page
@model ForgotPasswordConfirmation
@inject ExporterWeb.Helpers.Services.CommonLocalizationService Localizer


<main role="main" class="primary-content">

    <div class="container">

        <div class="account-card">
            <h1 class="account-card__title">@Localizer["Password recovery"]</h1>

            <div class="register-text">
                <p>@Localizer["Please check your email to reset your password."]</p>
                <br>
                <p>@Localizer["If you have not received the message within a few minutes, then check your Spam folder."]</p>
            </div>
            
            <a class="link link_border" href="/">@Localizer["Back to home page"]</a>
        </div>

    </div>

</main>
