@page
@using System.Globalization
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<main class="primary-content" role="main">

    <div class="container">

        <div class="account-card">
        
            <div class="account-header">
                <div class="account-header__top">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <h3 class="account-header__title">@ViewData["Title"]</h3>
                        <a asp-area="Identity" asp-page="/Account/Login" class="link link_border account-header__text">Войти в личный кабинет</a>
                    </div>
                </div>
                <div class="account-header__bottom">
                    <h4 class="account-header__subtitle">Информация о компании</h4>
                </div>
                
                
                <form method="post" class="for-validate account-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Name">Наименование компании</label>
                        <input asp-for="Input.Name" class="form-control" autofocus="autofocus" placeholder="Введите наименование компании" required>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.INN">ИНН</label>
                        <input asp-for="Input.INN" class="form-control" placeholder="Введите ИНН компании" required>
                        <span asp-validation-for="Input.INN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.OGRN_IP">ОГРН или ОГРНИП</label>
                        <input asp-for="Input.OGRN_IP" class="form-control" placeholder="Введите ОГРН или ОГРНИП компании" min="100" max="999999" required>
                        <span asp-validation-for="Input.OGRN_IP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.FieldOfActivityId">Направление деятельности</label>
                        <select asp-for="Input.FieldOfActivityId" id="custom-select" required>
                            <option data-placeholder="true"></option>
                            @foreach (var industry in Model.FieldsOfActivity)
                            {
                                <option value="@industry.Id">@industry.Name[CultureInfo.CurrentCulture.TwoLetterISOLanguageName]</option>
                            }
                        </select>
                    </div>
                    <div class="account-header__center">
                        <h4 class="account-header__subtitle">Данные контактного лица организации</h4>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.ContactPersonSecondName">Фамилия</label>
                        <input asp-for="Input.ContactPersonSecondName" class="form-control required-input" placeholder="Введите фамилию">
                        <span asp-validation-for="Input.ContactPersonSecondName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ContactPersonFirstName">Имя</label>
                        <input asp-for="Input.ContactPersonFirstName" class="form-control required-input" placeholder="Введите имя">
                        <span asp-validation-for="Input.ContactPersonFirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ContactPersonPatronymic">Отчество</label>
                        <input asp-for="Input.ContactPersonPatronymic" class="form-control" placeholder="Введите отчество">
                        <span asp-validation-for="Input.ContactPersonPatronymic" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Position">Должность</label>
                        <input asp-for="Input.Position" class="form-control" placeholder="Укажите вашу должность">
                        <span asp-validation-for="Input.Position" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email">E-mail</label>
                        <input asp-for="Input.Email" class="form-control email-mask required-input" placeholder="Введите адрес электронной почты" required>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Phone">Телефон</label>
                        <input asp-for="Input.Phone" class="form-control phone-mask required-input" placeholder="+7 (___) ___-__-__" required>
                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password">Пароль</label>
                        <input asp-for="Input.Password" id="password-input" class="form-control password-input" placeholder="Придумайте пароль">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <small class="password-control" onclick="show_hide_password(event, 'password-input')">
                            <svg class="view"><use xlink:href="/img/sprite.svg#password-view"></use></svg>
                            <svg class="hidden"><use xlink:href="/img/sprite.svg#password-hidden"></use></svg>
                        </small>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword">Повторите пароль</label>
                        <input asp-for="Input.ConfirmPassword" id="password-repeat-input" class="form-control password-input" placeholder="Повторите пароль снова">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <small class="password-control" onclick="show_hide_password(event, 'password-repeat-input')">
                            <svg class="view"><use xlink:href="/img/sprite.svg#password-view"></use></svg>
                            <svg class="hidden"><use xlink:href="/img/sprite.svg#password-hidden"></use></svg>
                        </small>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label label_custom" for="invalidCheck">
                                <input asp-for="Input.IsTermsOfUseAgreed" class="form-check-input" id="invalidCheck" required>
                                <span class="checkmark checkmark-checkbox"></span>
                                <p>Я ознакомился и согласен с <a asp-page="/TermsOfUse" class="link link_border" target="_blank">пользовательским соглашением</a></p>
                                <span asp-validation-for="Input.IsTermsOfUseAgreed" class="text-danger"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group d-flex align-items-sm-center flex-sm-row flex-column align-items-start mb-0">
                        <button class="btn btn-big btn-primary go__register mr-0 mr-sm-4" type="submit">Зарегистрироваться</button>
                        <a class="link link_border d-sm-none d-block mt-4" href="#">Войти в личный кабинет</a>
                    </div>
                </form>
                
            </div>
        

        </div>
    </div>
    
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        new SlimSelect({
           select: '#custom-select',
           showSearch: true,
           // searchText: 'Поиск',
           searchPlaceholder: 'Поиск',
           allowDeselect: true,
           placeholder: 'Выберите отрасль'
        })
    </script>
}
