@page
@inject ExporterWeb.Helpers.Services.CommonLocalizationService Localizer
@model ResetPasswordConfirmationModel

<main role="main" class="primary-content">

    <div class="container">

        <div class="account-card">
            <h1 class="account-card__title">@Localizer["Password recovery"]</h1>

            <div class="register-text">
                <p>@Localizer["Your password has been reset. Now you can log in."]</p>
            </div>

            <div class="form-group d-flex flex-sm-row flex-column flex-wrap align-items-baseline mb-0">
                <a class="btn btn-primary btn-big account-card__btn-primary" asp-page="Login">@Localizer["Log in"]</a>
                <a class="link link_border link_border-margin" href="/">@Localizer["Back to home page"]</a>
            </div>
        </div>

    </div>

</main>
