@page
@using ExporterWeb.Helpers
@model ExporterWeb.Pages.Industries.IndexModel

<div class="page-header">
    <div class="container">
        <div class="page-header__content">
            <nav class="breadcrumbs" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Index">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Отрасли экспорта</li>
                </ol>
            </nav>
    
            <h1 class="page-header__content-title">Отрасли экспорта</h1>
        </div>
    </div>
    <img class="" src="~/img/DXL6km_zypU.jpg" alt="">
</div>

<div class="container">
    <div class="row mb-5">
        @foreach (var industry in Model.IndustryTranslations)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-thumbnail">
                        <img class="card-thumbnail__img" src="@industry.LogoPath()" alt="@industry.Name">
                    </div>
                    <div class="card-content">
                        <h3 class="card-content__title">@industry.Name</h3>
                    </div>
                    <a asp-page="./Details" asp-route-id="@industry.Id" class="card__link"></a>
                </div>
            </div>
        }
    </div>
</div>