@page
@model ExporterWeb.Pages.Industries.IndexModel

@{
    
}

<div class="page-header">
    <div class="container">
        <div class="page-header__content">
            <nav class="breadcrumbs" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Index">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Отрасли экспорта</li>
                </ol>
            </nav>
    
            <h1>Отрасли экспорта</h1>
        </div>
    </div>

    <img class="" src="~/img/DXL6km_zypU.jpg" alt="">
</div>

<div class="container">

    <div class="row mb-5">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">IT-решения</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Деловые услуги</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.png" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Легкая промышленность</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.png" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Лесопромышленный комплекс</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Медицинские услуги</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Медицинская техника и фармацевтика</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Металлургическая промышленность</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Научные учреждения</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Образовательные услуги</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Пищевая промышленность</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-thumbnail">
                    <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                </div>
                <div class="card-content">
                    <h3 class="card-content__title">Сельское хозяйство</h3>
                </div>
                <a class="card__link" href="#"></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                 <div class="card-thumbnail">
                     <img class="card-thumbnail__img" src="~/img/industries.jpg" alt="">
                 </div>
                 <div class="card-content">
                     <h3 class="card-content__title">Строительные материалы</h3>
                 </div>
                 <a class="card__link" href="#"></a>
            </div>
        </div>
    </div>
    
</div>